@model PBL9.Models.Barbeiro

@{
    ViewBag.Title = "TelaInicial";
}

<h2>TelaInicial</h2>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body class="telainicial">
    <p>Olá @ViewBag.BarbeiroNome você possui @ViewBag.anostrab anos trabalhando nessa porcaria</p> <br>
                    <
</body>
</html>